.blog-home-component{
  padding: 3em 0;
  position: relative;
  background: lighten($color-box-grey,30%);
  .acc-title{
    //position: relative;
    h3{
      font-size: 28px;
      color: $color-red;
      font-weight: 600;
      position: relative;
      &:after{
        content: "";
        position: absolute;
        height: 5px;
        border-top: 1px solid $color-red;
        top: 0;
        width: 126px;
        right: 100%;
        top: 50%;
        margin-right: 34px;
      }
    }
    .title-lines{
      border-top: 1px solid $color-red;
      width: 8em;
      top:57%;
      position: absolute;
    }
  }

  .blog-content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-top: 2em;
    .box-one{
      display: flex;
      flex-direction: row;
      div.title{
        flex: 1;
        margin-left: 50px;

        h4{
          color: $color-primary;
          font-size: 34px;
          font-weight: 600;
          border-bottom: 1px solid $color-red;
          padding: 0 0 0.2em 0;
        }
        a{
          text-transform: uppercase;
          color: $color-red;
          font-family: 'Open Sans', sans-serif;
          padding: 0.8em 0 0 ;
          display: inline-block;
          font-weight: 600;
          transition: all 0.2s;
          &:hover{
            color: $color-primary;
            text-decoration: none;
          }
        }
      }
      div.date{
        width: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #ffffff;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 20px;
        font-size: 18px;
        span.dates{
          flex: 1;
          padding: 0.5em;
          background: $color-red;
          display: flex;
          flex-direction: column;
          justify-content: center;
          span.month{
            display: block;
          }
        }
        span.year{
          background: $color-primary;
          color: #ffffff;
          font-size: 16px;
          padding: 0.5em 0;
          box-sizing: border-box;
        }
      }
    }

    .box-two{
      display: flex;
      justify-content: center;
      align-items: center;
     a{
       border: 1px solid $color-red;
       padding: 0.5em 1.5em;
       font-family: 'Open Sans', sans-serif;
       text-transform: uppercase;
       color: $color-red;
       font-weight: 600;
       transition: all 0.2s;
       &:hover{
         background: $color-primary;
         border: 1px solid $color-primary;
         color: #ffffff;
         text-decoration: none;
       }
     }

    }

  }

}