.desk-box{
  display: none;
  &__grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 0.8em;
    .box-single {
       margin-bottom: 0.8em;
      overflow: hidden;
      img {
        width: 100%;
        display: block;
        height: 100%;
      }

      &:nth-child(3n+2), &:nth-child(3n+3){
        margin-left: 0.8em;
      }

      .box-desc-pos{
        position: absolute;
        bottom: 0px;
        width: 100%;
        .box-desc{
          color: #ffffff;
          //background: #002141;
          color: #ffffff;
          //background: #002141;
          color: #ffffff;
          padding: 0.8em 1.5em;
          box-sizing: border-box;
          span{
            display: block;
            line-height: 20px;
          }
          span.title{
            font-size: 20px;
          }
          span.age{
            font-family: 'Open Sans', sans-serif;
          }

          display: grid;
          grid-template-columns: repeat(2, 1fr);
          .arrow{
            display: flex;
            justify-content: flex-end;
            align-items: center;
          }

        }
    }

      &:nth-child(1){
            .box-desc{
              background: $color-primary;
            }
          }

      &:nth-child(2){
        .box-desc{
          background: $color-grey;
        }
      }

      &:nth-child(3){
        .box-desc{
          background: $color-secondary;
        }
      }

      &:nth-child(4){
        .box-desc{
          background: $color-red;
        }
      }

      &:nth-child(5){
        .box-desc{
          background: $color-light;
        }
      }

      &:nth-child(6){
        .box-desc{
          background: $color-dgrey;
        }
      }

  }
  }
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  .desk-box{
    display: block;
  }
}

@media screen and (max-width: 414px){
  .desk-box{
    &__grid{
      grid-template-columns: repeat(2,1fr);
      padding: 0.3em;
      .box-single{
        margin-bottom: 0.3em;
      }

      .box-single:nth-child(2n+1){
         margin-left: 0px;
       }

      .box-single:nth-child(2n+2){
        margin-left: 0.3em;
      }
    }
  }
}