$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Roboto Slab', serif;
$carousel-height: 75vh;

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 33, 65,0.8);
}

.flex-banner-content {
  .flex-content {
    position: relative;
    z-index: 999999999;
    svg {
      //border: 3px solid $theme-col;
      position: absolute;
      bottom: 0px;
      // height: 66%;
      left: calc(100% - 133%);
      //top: 0px;
    //  width: 6%;
      height: 100%;
      transform: rotate(180deg);


      width: 5rem;
      display: block;
      top: 21px;
    }

    .title-line{
      border-top: 1px solid $theme-col;
      width: 15%;
      position: absolute;
      left: calc(100% - 132%);
      top: 20px;
    }

  }

  .white-border{
    grid-row: 2/3;
    position: relative;
   //overflow: hidden;
    height: 100%;
    svg{
      position: absolute;
      //left:  -150px;
      top: -25px;

      left: -153px;
      width: auto;
      height: auto;
      display: block;

    }
  }

}


.hero-slider {
  width: 100%;
  height: $carousel-height;
  overflow: hidden;

  .carousel-cell {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top !important;

    .inner {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      text-align: center;

      .subtitle {
        font-family: $font-family-secondary;
        font-size: 2.2rem;
        line-height: 1.2em;
        font-weight: 200;
        font-style: italic;
        letter-spacing: 3px;
        color: rgba(255,255,255,0.5);
        margin-bottom: 5px;
      }

      .btn{
        border: 1px solid #fff;
        padding: 14px 18px;
        text-transform: uppercase;
        font-family: $font-family-primary;
        font-size: 0.8rem;
        letter-spacing: 3px;
        color: #fff;
        text-decoration: none;
        transition: all .2s ease;
        &:hover{
          background: #fff;
          color: #000;
        }
      }
    }
  }

  .flickity-prev-next-button {
    width: 50px;
    height: 50px;
    background: transparent;
    z-index: 9999;
    &:hover{
      background: transparent;
    }
    .arrow{
      fill: white;
    }
  }
  .flickity-page-dots {
    bottom: 15%;
    width: auto !important;
    z-index: 9999;
    //top: 78%;
    //right: 17%;
    .dot{
      width: 40px;
      height: 4px;
      opacity: 1;
      background: rgba(255,255,255,0.5);
      border: 0 solid white;
      border-radius: 0;
      &.is-selected{
        background: #ffffff;
        border: 0 solid #ffffff;
      }
      &.is-selected{
        background: $theme-col;
      }
    }
  }
}


.flex-banner-content {
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  grid-template-rows: 1fr 30px 2fr;
  .flex-content{
    grid-row: 3/4;
    position: relative;
  }
}

.square {
  position: absolute;
  top: 0;
  left: 0;
  /*background: #DDD;*/
  display: block;
  width: 270px;
  height: 270px;
  .left-side{
    position: absolute;
    background: none transparent;
    width: 0px;
    height: 0px;
  }
}

.flex-banner-content{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  color: #ffffff;
 // width: 50%;
  .flex-content{
    display: flex;
    flex-direction: column;
   // justify-content: space-around;
    height: 100%;
    /// padding-left: 16%;
    //border-left: 4px solid #fff;
    .title {
      text-transform: capitalize;
      font-family: 'Open Sans', sans-serif;
      font-size: 34px;
      line-height: 1.2em;
      font-weight: 700;
      margin-bottom: 0.5em;
      color: $theme-col;
    }

    span.sub-title{
      font-size: 55px;
      line-height: 54px;
      padding-bottom: 0.5em;
      display: block;
      font-family: 'GFS Didot', serif;
      font-weight: 700;
    }

    p{
      font-family: $font-family-secondary;
      font-size: 19px;
      line-height: 25px;
    }
    .btn{
      border: 1px solid #fff;
      padding: 12px 18px;
      text-transform: uppercase;
      font-family: $font-family-primary;
      font-size: 16px;
      color: #fff;
      text-decoration: none;
      transition: all .2s ease;
      width: 42%;
      margin: 5em 0px 0px;
      &:hover{
        background: #fff;
        color: #000;
      }
    }
  }
}


/* Media */



@media screen and (max-width: 1410px) and (min-width: 1301px){
  .flex-banner-content{
    .flex-content{
      svg{
        left: calc(100% - 121% );
      }
      .title-line{
        width: 12%;
        left: calc( 100% - 120%);
      }
    }
    .white-border{
      svg{
        left: -87px;
      }
    }
  }
}


@media only screen
and (min-device-width: 1280px)
and (max-device-width: 1440px)
{
  .hero-slider{
    height: 100vh;
  }
}


@media screen and (min-width:1200px) and (max-width: 1300px) {
  .flex-banner-content{
    .flex-content {
    svg {
      left: calc(100% - 114%);
      }
      .title-line{
        left: calc(100% - 113%);
        width: 7%;
      }
    }

    .white-border{
      svg{
        left: calc(100% - 108.6%);
      }
    }

  }
}



@media screen and (max-width: 1200px) {
  .flex-banner-content{
    svg, .title-line{
      display: none !important;
    }
  }

  .hero-slider{
    //height: 100vh;
    .flickity-page-dots{
      bottom: 10%;
    }
  }
  .flex-banner-content{
    width: 100%;
    grid-template-columns: 1fr !important;
    .content__wrapper{
      text-align: center;
    }
    .flex-content{
      span.sub-title{
        font-size: 5vw;
        line-height: 5vw;
        width: 70%;
        margin: 0px auto;
      }
    }

  }

  .hero-slider {
    //height: 100vh;
    .flickity-page-dots {
      bottom: 10%;
      left: unset !important;
      width: 100% !important;
    }
  }
  .hero-slider {
    .flickity-button.previous, .flickity-button.next {
      top: 50% !important;
      left: unset !important;
    }
  }
}


@media screen and (max-width: 991px) {

  .hero-slider{
    //height: 100vh;
    .flickity-page-dots{
      bottom: 10%;
      left: unset !important;
      width: 100% !important;
    }

    .flickity-button.previous,  .flickity-button.next{
      top: 50% !important;
      left: unset !important;
    }

  }
  .flex-banner-content{
    width: 100%;
    grid-template-columns: 1fr !important;
    .content__wrapper{
      text-align: center;
    }
    .flex-content{
      span.sub-title{
        font-size: 7vw;
        line-height: 7vw;
      }
    }

  }
}


@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1024px)
and (orientation: landscape){
  .hero-slider{
    height: 100vh;
    .flickity-page-dots{
      bottom: 6%;
    }
  }
  .flex-banner-content{
    .flex-content{
      span.sub-title{
        font-size: 5.5vw;
        line-height: 5vw;
        width: 75%;
        margin: 0px auto;
      }
    }
  }
}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .hero-slider{
    .carousel-cell{
      .content__wrapper{
        .sub-title{
          font-size: 5.5vw;
          line-height: 5vw;
          max-width: 65%;
          margin: 0px auto;
        }
      }
    }
  }

  .hero-slider{
    height: 75vh;
    .flickity-page-dots{
      bottom: 10%;
    }
  }

  .flex-banner-content{
    .flex-content{
      p {
        width: 80%;
        margin: 0px auto;
      }
    }
  }

}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 414px)
and (orientation: portrait) {
  .flex-banner-content{
    .flex-content{
      .btn{
          width: 75%;
        margin-top: 2em;
      }
    }
  }

  .hero-slider {
    .flickity-page-dots {
      bottom: 5%;
    }

    .flickity-button.previous, .flickity-button.next{
      width: 45px;
      height: 45px;
    }

    .flickity-button.previous{
      left: 0px;
    }

    .flickity-button.next{
      right: 0px;
    }

  }

  .flex-banner-content{
    .flex-content{
      p {
        width: 80%;
        margin: 0px auto;
      }
    }
  }

}

@media only screen
and (min-device-width: 568px)
and (max-device-width: 896px)
and (orientation: landscape){
  .hero-slider{
    height: 750px;
    .flickity-page-dots{
      bottom: 5%;
    }
  }

  .mob-title-nav{
    nav ul li a{
      font-size: 2vw;
    }
  }
}


@media only screen
and (max-device-width: 375px)
and (orientation: portrait) {
  .hero-slider{
    height: 100vh;
  }
}

