.title-border{
  .border-title{
    //position: relative;
    h3{
      font-size: 28px;
      line-height: 28px;
      color: $color-red;
      font-weight: 600;
      position: relative;
      &:after{
        content: "";
        position: absolute;
        height: 5px;
        border-top: 1px solid $color-red;
        top: 0;
        width: 126px;
        right: 100%;
        top: 50%;
        margin-right: 34px;
      }
    }
    .title-lines{
      border-top: 1px solid $color-red;
      width: 8em;
      top:57%;
      position: absolute;
    }
  }
}

@media screen and (max-width: 818px) {
  .blog-home-component{
    .blog-content{
      display: flex;
      flex-direction: column;
      .box-one{
        margin-bottom: 2em;
        .date{
          width: 15% !important;
        }
        .title{
          margin-left: 25px !important;
          h4{
            font-size: 25px !important;
            line-height: 28px;
          }
        }
      }
    }
  }
}

.box-padded{
  padding: 3em 0;
  position: relative;
}

.box-overlay{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 33, 65,0.8);
}



@media screen and (max-width: 414px) {
  .title-border{
    .border-title{
      h3{
        padding-left: 1em;
        font-size: 25px;
        line-height: 28px;
        &:after{
          margin-right: -10px;
        }
      }
    }
  }
  .box-two a{
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .blog-home-component{
    .blog-content{
      .box-one{
        .date{
          width: 20% !important;
        }
        div.title{
          margin-left: 15px !important;
        }
      }
    }
  }
}