.v-box{
 background: #F4F5F5;
  height: 100em;
  .v-box-wrapper{
    h3.title{
      display: flex;
      font-size: 55px;
      color: $color-primary;
      justify-content: flex-end;
      text-transform: capitalize;
      font-weight: 600;
    }
  }

  .v-float-desc{
    position: relative;
    .v-desc-box{
      position: absolute;
      top: 75%;
      color: #ffffff;
      padding:1em 0 0 1.5em;
      box-sizing: border-box;
    .v-desc{
      width: 60%;
    }

      h4{
        font-size: 45px;
        display: block;
        position: relative;
        margin-bottom: 0.5em;
        &:after{
          content: "";
          border-bottom: 1px solid #ffffff;
          height: 3em;
          width: 15%;
          position: absolute;
          bottom: 0px;
          left: 0px;
        }
      }

      .arrow{
        display: flex;
        justify-content: flex-end;
        .ar {
          padding: 0.3em 0.8em;
          font-size: 26px;
        }
      }
    }
  }


  .v-float{
    position: absolute;
    width:50%;
    img{
      width: 100%;
      display: block;
    }
    &:nth-child(3n+3){
      top: -10em;
      left: 0px;
      .v-desc-box{
        background: rgba(0,33,65,0.9);
          left: -5em;
          width: 90%;
          top: 55%;
        }

      .arrow{
        .ar{
          background: $color-red;
        }
      }

    }
    &:nth-child(3n+2){
      top: 20em;
      left: 50%;
      .v-desc-box{
        background: rgba(165, 10, 44,0.8);
        right: -4em;
        width: 90%;
        top: -6em;
      }

      .arrow{
        .ar{
          background: $color-grey;
        }
      }
    }
    &:nth-child(3n+1){
      top: 40em;
      left: 0px;
      .v-desc-box{
        background: rgba(82, 162, 221, 0.9);
        right: -8em;
        width: 90%;
        top: 55%;
      }

      .arrow{
        .ar{
          background: $color-primary;
        }
      }
    }
  }

}

.footer-build{
  background: #ffffff;
  padding: 15em  0 0;
}


.duck-img{
  position: absolute;
  right: -10em;
  top: -20em;
}


@media screen and (max-width: 1024px) {
  .v-box{

    .container{
      max-width: unset !important;
      padding: 0px;
    }

    height: 100% !important ;
    .v-box-wrapper {
      h3.title {
        justify-content: flex-start;
        padding-left: 0.5em;
      }
    }

      .v-float{
        position: relative;
        width: 100%;

        .v-desc{
          h4{
            font-size: 40px;
            line-height: 40px;
            padding-bottom: 0.5em;
          }
        }

        &:nth-child(3n+3){
          position: relative !important;
          display: flex;
          justify-content: flex-end;
          top: unset;
          left: unset;
          .v-desc-box{
            left: -18em;
            width: 100%;
            top: 44%;
            padding: 3em 0 0 1.5em;

          }
        }


        &:nth-child(3n+1){
            top: 102px;
          display: flex;
          justify-content: flex-start;
          margin-bottom: 3em;

          .v-desc-box{
            right: -17em;
            width: 100%;
            top: 48%;
            padding: 3em 0 0 1.5em;
          }
        }

        &:nth-child(3n+2){
          position: relative !important;
          display: flex;
          justify-content: flex-end;
          top: 175px;
          left: unset;
          .v-desc-box{
            left: -18em;
            width: 100%;
            top: 44%;
            padding: 3em 0 0 1.5em;

          }
        }


    }
  }
}


@media screen and (max-width: 736px){
  .v-box{
    .v-float{
      width: 75%;
      &:nth-child(3n+3){
        float: right;
        .v-desc-box{
          width: 100%;
          left: -5em;
          padding: 1.5em 0 0 1.5em;
          .v-desc{
            width: 80%;
          }
        }
      }

      &:nth-child(3n+1){
        float: left;
        top: 230px;
        .v-desc-box{
           width: 100%;
          left: 5em;
          padding: 1.5em 0 0 1.5em;
          .v-desc{
            width: 80%;
          }
        }
      }


      &:nth-child(3n+2){
        float: right;
        top: 440px;
        .v-desc-box{
          width: 100%;
          left: -5em;
          padding: 1.5em 0 0 1.5em;
          .v-desc{
            width: 80%;
          }
        }
      }


    }
  }
}