// --------------------------------------------------
// Breakpoint mixins, based off the values in _variables.scss
// --------------------------------------------------
@mixin breakpoint($size: null) {
  @if $size==limit {
    @media (min-width: $breakpoint-limit) {
      $unit-temporary: $unit-xlarge !global;
      @content;
    }
  }
  @if $size==xlarge {
    @media (min-width: $breakpoint-xlarge) {
      $unit-temporary: $unit-xlarge !global;
      @content;
    }
  } @else if $size==large {
    @media (min-width: $breakpoint-large) {
      $unit-temporary: $unit-large !global;
      @content;
    }
  } @else if $size==medium {
    @media (min-width: $breakpoint-medium) {
      $unit-temporary: $unit-medium !global;
      @content;
    }
  } @else if $size==small {
    @media (min-width: $breakpoint-small) {
      $unit-temporary: $unit-small !global;
      @content;
    }
  } @else if $size==xsmall {
    @media (max-width: $breakpoint-small) {
      $unit-temporary: $unit-xsmall !global;
      @content;
    }
  } @else {
    $unit-temporary: $unit-xsmall !global;
    @content;
  }
}
// --------------------------------------------------
// Unit function - for consistent sizing through breakpoints
// --------------------------------------------------

@function unit($multiplier: 1) {
  @if $multiplier==1 {
    @return 1 * $unit-temporary;
  } @else {
    @return $multiplier * $unit-temporary;
  }
}
